/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.even_spacing_container {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.even_spacing_container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.even_spacing_div {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
body {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to right, #0d475e, #9b8008);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
.space {
  width: 200px;
  height: 200px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  perspective: 800px;
}
.tetra {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  font-size: 100px;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}
.triangle {
  position: absolute;
  bottom: 0;
  border-bottom: 1.73em solid rgba(255, 255, 255, 0.2);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}
.front {
  transform: rotateX(19.4deg);
  transform-origin: 0 100% 0;
}
.left {
  transform: rotateY(60deg) rotateX(-19.4deg);
  transform-origin: 0 100% 0;
}
.right {
  transform: rotateY(-60deg) rotateX(-19.4deg);
  transform-origin: 100% 100% 0;
}
.bottom {
  transform: rotateX(90deg);
  transform-origin: 0 100% 0;
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
