body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #030204;
    background-color: #f8f8f8;
}

nav {
    position: fixed;
    top: 50%;
    right: 80px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 2;
}

nav a {
    font-size: 24px;
    margin-bottom: 10px;
    color: #030204;
    text-align: right;
    text-decoration: none;
    transition: color .3s;
}

nav a:visited {
    color: #030204;
}

nav a:hover,
nav a.active {
    color: #FE4747;
}

.title {
    transform: translateY(-50%);
}

.title h1 {
    font-size: 84px;
    font-weight: 700;
    margin: 0;
    background: -webkit-linear-gradient(#FC6747, #FE4747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p {
    font-size: 32px;
    margin: 15px 0 0;
}

section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 0 80px;
    box-sizing: border-box;
}

section#home {
    position: relative;
    align-items: center;
}

section .text h1 {
    font-size: 76px;
    background: -webkit-linear-gradient(#4226bf, #2a166e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .text p,
section .text li {
    font-size: 26px;
    line-height: 1.3;
    max-width: 40%;
}


section .text a,
section .text a:visited {
    color: #4226bf;
}

.container {
    position: fixed;
    width: 70vh;
    height: 70vh;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    nav {
        position: absolute;
    }

    .title {
        padding-top: 60px;
        align-self: flex-start;
        transform: none;
    }

    .container {
        position: absolute;
        width: 50vh;
        height: 50vh;
        right: 25%;
    }

    section#home {
        height: 100vh;
        box-sizing: border-box;
    }

    section {
        height: auto;
        padding: 0 40px 40px;
    }

    section .text h1 {
        font-size: 44px;
    }

    section .text p,
    section .text li {
        max-width: 80%;
    }


}


@media (max-width: 600px) {
    nav {
        right: 20px;
    }

    .title {
        padding-top: 40px;
        align-self: flex-start;
        transform: none;
    }

    .title h1 {
        font-size: 56px;
    }

    .title p {
        font-size: 24px;
    }


    .container {
        position: absolute;
        width: 50vh;
        height: 50vh;
        right: 35%;
        transform: translateY(-25%);
    }

    section .text p,
    section .text li {
        max-width: 100%;
    }
}

.container .wrapper {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
}

.container .wrapper.right {
    top: 0;
}

.container .wrapper.left {
    bottom: 0;
    overflow: hidden;
}

.container .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot {
    position: absolute;
    border-radius: 100%;
    box-sizing: border-box;
}

.right .dot {
    right: 0;
    bottom: 0;
    transform: translateY(50%);
}

.left .dot {
    left: 0;
    top: 0;
    transform: translateY(-50%);
    mix-blend-mode: difference;
}

.dot:nth-child(1) {
    width: calc((1 / 6) * 100%);
    height: calc((1 / 6) * 200%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
}

.right .dot:nth-child(1) {
    background: rgba(230, 128, 26, 0.23);
}

.left .dot:nth-child(1) {
    background: rgba(32, 104, 248, 0.23);
}

.dot:nth-child(2) {
    width: calc((2 / 6) * 100%);
    height: calc((2 / 6) * 200%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
}

.right .dot:nth-child(2) {
    background: rgba(230, 128, 26, 0.23);
}

.left .dot:nth-child(2) {
    background: rgba(32, 104, 248, 0.23);
}

.dot:nth-child(3) {
    width: calc((3 / 6) * 100%);
    height: calc((3 / 6) * 200%);
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
}

.right .dot:nth-child(3) {
    background: rgba(230, 128, 26, 0.23);
}

.left .dot:nth-child(3) {
    background: rgba(32, 104, 248, 0.23);
}

.dot:nth-child(4) {
    width: calc((4 / 6) * 100%);
    height: calc((4 / 6) * 200%);
    z-index: 4;
    background: rgba(0, 0, 0, 0.1);
}

.right .dot:nth-child(4) {
    background: rgba(230, 128, 26, 0.23);
}

.left .dot:nth-child(4) {
    background: rgba(32, 104, 248, 0.23);
}

.dot:nth-child(5) {
    width: calc((5 / 6) * 100%);
    height: calc((5 / 6) * 200%);
    z-index: 5;
    background: rgba(0, 0, 0, 0.1);
}

.right .dot:nth-child(5) {
    background: rgba(230, 128, 26, 0.23);
}

.left .dot:nth-child(5) {
    background: rgba(32, 104, 248, 0.23);
}

.dot:nth-child(6) {
    width: calc((6 / 6) * 100%);
    height: calc((6 / 6) * 200%);
    z-index: 6;
    background: rgba(0, 0, 0, 0.1);
}

.right .dot:nth-child(6) {
    background: rgba(230, 128, 26, 0.23);
}

.left .dot:nth-child(6) {
    background: rgba(32, 104, 248, 0.23);
}

