
body {
  width: 100%;
  margin: 0;
  background-image:
    linear-gradient(
      to right,
      hsla(197, 76%, 21%, 1), hsla(49, 90%, 32%, 1)
    );
  background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}


.space {
  width: 200px;
  height: 200px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  perspective: 800px;
}

.tetra {
  display: block;
  position: relative;
  width:  200px;
  height:  200px;
  font-size: 100px;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

.triangle {
  position: absolute;
  bottom: 0;
  border-bottom: 1.73em solid rgba(255, 255, 255, .2);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;

}

.front {
  transform: rotateX(19.4deg);
  transform-origin: 0 100% 0;
}

.left {
  transform: rotateY(60deg) rotateX(-19.4deg);
  transform-origin: 0 100% 0;
}

.right {
    transform: rotateY(-60deg) rotateX(-19.4deg);
    transform-origin: 100% 100% 0;
}

.bottom {
  transform: rotateX(90deg);
  transform-origin: 0 100% 0;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
  }
}



@keyframes gradient {
   0% {
     background-position: 0% 50%;
  }
    50% {
      background-position: 100% 50%;
  }
    100% {
      background-position: 0% 50%;
  }
}

